.main-menu {
  position: absolute;
  width: 70%;
  right: -298px;
  top: 50px;
  z-index: 5;
}

.main-menu__humburger {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 125px;
  height: 120px;
  background-color: transparent;
  border: 2px solid$white;
  z-index: 10;
}

.main-menu__list {
  @include clear-list();
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 725px;
  background-color: $palett;
  z-index: 15;
}

.main-menu__link {
  color: $white;
  text-decoration: none;
}

.main-menu__item {
  flex-grow: 1;
  padding-top: 50px;
  padding-bottom: 50px;
}

.main-menu__line {
  position: relative;
  width: 40px;
  height: 2px;
  background-color: $white;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 2px;
    background-color: $white;
    left: 0;
    top: 7px;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 2px;
    background-color: $white;
    left: 0;
    bottom: 7px;
  }
}
