.preview-general {
  position: relative;
  box-sizing: border-box;
  padding-left: 100px;
  padding-top: 74px;
  background-color: $white;
  min-width: 400px;
  overflow: hidden;
}

.preview-general__title {
  margin-bottom: 19px;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 14px;
  color: $dimgray;
}

.preview-general__list {
  @include clear-list();
  width: 100%;
}

.preview-general__wrapper {
  position: relative;
  background-color: transparent;
}

.preview-general__img {
  position: absolute;
  top: -9px;
  left: 214px;
}


.preview-general__subtitle {
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: $dimgray;
}

.preview-general__item {
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  color: $dimgray;
  letter-spacing: -.3px;
}

.preview-general__info {
  box-sizing: border-box;
  width: 470px;
  padding-right: 170px;
  margin-bottom: 77px;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: $dimgray;
}

.preview-general__link {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding-left: 34px;
  margin-bottom: 112px;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 12px;
  color: $dimgray;
  text-decoration: none;

  &::before {
    content: '';
    position: absolute;
    left: 7px;
    top: -2px;
    width: 19px;
    height: 15px;
    background-color: transparent;
    background-image: url('../img/arrow.png');
    background-repeat: no-repeat;
    z-index: 1;
  }
}

.preview-general__btn {
  position: relative;
  width: 35px;
  min-height: 40px;
  padding-top: 32px;
  margin-left: 60px;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 11px;
  line-height: 12px;
  color: $red;
  background-color: transparent;
  border: 0;
  margin-bottom: 71px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 7px;
    top: 3px;
    width: 24px;
    height: 22px;
    background-color: transparent;
    background-image: url('../img/heart.png');
    background-repeat: no-repeat;
    z-index: 1;
  }
}
