.preview {
  position: relative;
  display: flex;
  width: 465px;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  box-sizing: border-box;
  background-color: $white;
  overflow: hidden;

  &--left {
    background-color: $gainsboro;
    flex-direction: row;
  }
}

.preview__title {
  margin-bottom: 15px;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 14px;
  color: $dimgray;
  letter-spacing: -.7px;
}

.preview__list {
  @include clear-list();
  width: 100%;
}

.preview__wrapper {
  position: relative;
  box-sizing: border-box;
  width: 50%
  padding-top: 35px;
  padding-left: 15px;
  background-color: transparent;

  &--left {
    padding-top: 23px;
    padding-left: 40px;
  }
}

.preview__img {
  position: absolute;
  top: 19px;
  left: -22px;

  &--left {
    top: 3px;
    left: 160px;
  }
}

.preview__subtitle {
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 12px;
  color: $dimgray;
}

.preview__item {
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 12px;
  color: $dimgray;
  letter-spacing: -.3px;
}

.preview__info {
  box-sizing: border-box;
  width: 165px;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 12px;
  color: $dimgray;
}

.preview__text {
  margin: 0;
  margin-bottom: 18px;
  text-transform: none;
}

.preview__link {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding-left: 28px;
  margin-bottom: 24px;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 12px;
  color: $dimgray;
  text-decoration: none;

  &::before {
    content: '';
    position: absolute;
    left: 2px;
    top: -2px;
    width: 19px;
    height: 15px;
    background-color: transparent;
    background-image: url('../img/arrow.png');
    background-repeat: no-repeat;
    z-index: 1;
  }
}

.preview__btn {
  position: relative;
  width: 35px;
  min-height: 40px;
  padding-top: 32px;
  margin-left: 55px;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 11px;
  line-height: 12px;
  color: $red;
  background-color: transparent;
  border: 0;
  margin-bottom: 25px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 7px;
    top: 3px;
    width: 24px;
    height: 22px;
    background-color: transparent;
    background-image: url('../img/heart.png');
    background-repeat: no-repeat;
    z-index: 1;
  }
}
