$mbl-max-width: 320px;
$tbl-max-width: 786px;
$dsc-max-width: 1500px;

$white: #ffffff;
$ivory: #e9eae2;
$black: #000000;
$dimgray: #333333;
$cyan: #7acec3;
$orange: #ebb240;
$gainsboro: #dfe0d9;
$red: #ff0000;
