@import 'scafolding/normalaize.scss';
@import 'scafolding/fonts.scss';
@import 'scafolding/variables.scss';
@import 'scafolding/mixin.scss';
@import 'scafolding/general.scss';
@import 'moduls/page-body.scss';
@import 'moduls/page-header.scss';
@import 'moduls/main-menu.scss';
@import 'moduls/headline.scss';
@import 'moduls/page-main.scss';
@import 'moduls/navigation.scss';
@import 'moduls/projects.scss';
@import 'moduls/preview.scss';
@import 'moduls/preview-general.scss';
@import 'moduls/main-footer.scss';
